h2 {
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.wrap{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:0 10%;
    width:80%;
    height:30px;
}

.wrap select{
    height: 100%;
    background-color: #f5f5f5;
    color: #958f8a;
    border: 1px solid #958f8a;
}

[name="name_email"]{
    height: 100%;
    width: 300px;
    border-radius: 0%;
    border: 1px solid #958f8a;
}

[name="date"]{
    height: 100%;
    background-color: #f5f5f5;
    color: #958f8a;
    border: 1px solid #958f8a;
}

.search{
    background-color:#82766a;
    color: #fff;
    border: none;
    padding:0 20px;
    height: 100%;
}

.reset{
    display: flex;
    align-items: center;
    background-color: #decec2;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    height: 100%;
}

.special_button{
    display: flex;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.export {
    display: flex;
    align-items: center;
    background-color: #ede9e6;
    color: #b3a79b;
    padding: 5px 10px;
    text-decoration: none;
    height: 100%;
    border: none;
}

.pagenation{
    display: flex;
    list-style: none;
    padding: 0;
}

.page-item {
    display: flex;
    height: 20px;
    width: 20px;
    border: 1px solid #958f8a;
    align-items: center;
    justify-content: center;
}

.page-item.active {
    background-color: #8d7868;
    color: #fff;
}

.page-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.title{
    background-color: #8b7968;
    color: #fff;
}

table {
    width: 80%;
    margin: 0 10% 5% 10%;
    border-collapse: collapse;
    border: 1px solid #958f8a;
}

table th,
table td {
    border: none;
    padding: 10px;
    text-align: center;
}

table tr{
    border-bottom: 1px solid #958f8a;
    height: 50px;
}

.show{
    border:1px solid #e6e4e4;
    color: #b3a79b;
    background-color: #fff;
    padding: 5px 10px;
}