header {
    color: #8b7969;
    font-size: 30px;
    border-bottom: 1px solid #8b7969;
    width: 100%;
    height:100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    height: 100px;
    line-height: 100px;
}

body {
    color: #8b7369;
}

.header_logo{
    text-align: center;
}

.header_button a{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: #8b7369;
    border: 1px solid #8b7369;
    background-color: #f6f6f6;
    display: flex;
    text-decoration: none;
    height:30px;
    font-size: 18px;
    padding:0 15px 0 15px;
}

.header_button a:hover {
    background-color: #ddd;
}