h2 {
    text-align: center;
}

.form-row{
    display:flex;
    align-items: center;
    margin:0 20%;
    height: 80px;

}

.item{
    display: flex;
    align-items: center;
    width:30%;
    background-color: #baa899;
    color:white;
    padding-left: 30px;
    height:100%;
    border: 1px solid #e0dfde;
    box-sizing: border-box;
}

.form-row input {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 30px;
    height: 100%;
    border: 1px solid #e0dfde;
    box-sizing: border-box;
    color: #8b7969;
}

textarea {
    display: flex;
    align-items: center;
    flex: 1;
    border: 1px solid #e0dfde;
    box-sizing: border-box;
    resize: none;
    height: 80px;
    padding-left: 30px;
    color: #8b7969;
}

.button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 30px 0;
}

.button-row .button1,
.button-row .button2 {
    font-size: 16px;
    cursor: pointer;
    min-width: 120px;
    height: 44px;
}

.button1{
    background-color: #baa899;
    border: 1px solid transparent;
    color: white;
}

.button-row .button2 {
    background: none;
    border: none;
    color:#baa899;
    text-decoration: underline;
}