h2 {
    text-align: center;
}

.label_required {
    color: red;
}

.form {
    margin: 0 auto;
}

.label_item {
    width: 20%;
    margin-left: 20%;
}

.form>div {
    display: flex;
    margin-bottom: 20px;

}

.form_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20%;
    width: 1000px;
}

input,
select {
    height: 30px;
    color: #8b7969;
}

input[name="last-name"],
input[name="first-name"] {
    width: 45%;
    background-color: #f4f4f4;
    border: none;
}

::placeholder{
        color: #8b7969;
}

.gender3 {
    margin-right: 40%;
}

input[name="email"],
input[name="address"],
input[name="build"] {
    width: 100%;
    background-color: #f4f4f4;
    border: none;
}

input[type="tel"] {
    text-align: center;
    background-color: #f4f4f4;
    border: none;
}

.label_item {
    text-align: left;
    width: 30%;
}

select[name="category_id"] {
    width: 50%;
    background-color: #f4f4f4;
    border: none;
}

textarea {
    height: 120px;
    width: 100%;
    background-color: #f4f4f4;
    border: none;
    resize: none;
    padding-top: 30px;
}

.button-submit {
    background: #82756a;
    color: #fff;
    display: block;
    margin: 20px auto;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 24px;
    margin-top: 50px;
}

