.page-wrapper {
    background-color: #f1ece7;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register-box {
    background-color: #ffffff;
    width: 60%;
    height: 600px;
    padding: 10% 10%;
    box-sizing: border-box;
    border: 1px solid #8b7369;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    margin: 0 auto 50px auto;
}

.register-box input {
    height: 60px;
    width: 100%;
    border: none;
    background-color: #f5f5f5;
}

.button-submit {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #8b7369;
    border: none;
    height: 40px;
    color: #ffffff;
    align-items: center;
    width: 100px;
    text-align: center;
}

.form_error {
    color: red;
}